.checkoutProduct{
display: flex;
margin-top: 20px;
margin-bottom: 20px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info>button{
    background: #f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 100px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__button{
    display: inline-block;
    cursor: pointer;
    background: #f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.checkoutProduct__button:hover {background-color: #3e8e41}

.checkoutProduct__button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }