.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    background-color: white;
    z-index: 1;
}
.product__rating
{
    display: flex;
}
.product>img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__add{
    display: inline-block;
    cursor: pointer;
    background: #e3ddde;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.product__add:hover {background-color: #3e8e41}

.product__add:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.product__price{
    margin-top: 5px;
}
.product__info{
    text-align: left;
    height: 100px;
    margin-bottom: 15px;
}
